---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<style>
  table {
    border: 1px solid black;
  }
  table caption {
    font-weight: bold;
    margin-bottom: 0.75em;
  }
  img {
    display: block;
    width: 80%;
    margin: 1.5rem auto;
  }
</style>

<BaseLayout pageTitle="About">
  <Section>
    <h2>Theory of induced travel</h2>
    <p>
      In evaluating whether or how much induced travel may occur it is necessary
      to understand the underlying economic and behavioral impacts that occur
      when additional road capacity is added to a network. Adding more lanes to
      a road or extending an existing road will have immediate effects on
      reducing travel time, or the cost of travel, and secondary impacts of
      making more land accessible for development. Travel time costs tend to be
      the major cost associated with vehicle travel and this is associated with
      congestion levels. As such, any reduction in congestion leads to faster
      traffic and reduced travel time costs. Basic economic theory implies that
      a reduction in the cost of a good (in this case vehicle travel time) leads
      to an increase in consumption.
    </p>
    <p>
      This can be graphically explained by reference to the figure below. At
      equilibrium the price or cost of travel is P1 and the quantity is Q1. Any
      increase in road capacity, i.e., the supply of roads, shifts the supply
      curve from S1 to S2, with a consequent reduction in price (cost) of travel
      to P2 and increase in quantity traveled to Q2. In this example, the
      induced travel effect has increased total travel and the elasticity of
      demand (typically estimated in various models) is positive. Additional
      exogenous growth in travel may still occur shifting the demand curve to
      the right leading to a further increase in travel to Q3, for example due
      to population growth. However, the growth in population in itself may be
      endogenous as the added development induced by additional road capacity
      may lead to population growth within a region.
    </p>
    <img src="/images/elastic-demand-supply.png" alt="Elastic Demand & Supply">
    <p>
      Not accounting for induced travel (or the demand response to price
      reductions) assumes an inelastic vertical demand curve as shown in the
      figure below. In this case, any added supply (the shift from S1 to S2)
      leads to a reduction in price from P1 to P2, while the quantity of travel
      remains the same, Q1=Q2. Any observed increase in congestion is assumed to
      be strictly exogenous (determined by other factors) and is represented by
      the shift in the demand curve to D2.
    </p>
    <img src="/images/inelastic-demand-supply.png" alt="Inelastic Demand & Supply">
    <p>
      While simple economic theory can explain induced travel, the actual
      behavioral impacts are more complex. For example, one of the first things
      that is typically observed when capacity is increased is the “return to
      the peak”, that is the peak level of traffic congestion stays the same as
      those who traveled at less preferred times of day shift back to the peak.
      For example, a commuter who travels very early in the morning (or late in
      the morning) to avoid the morning peak, now travels at a more preferred
      time. This is beneficial to the commuter who sees a benefit in traveling
      at their preferred time of day, but the morning peak of congestion remains
      the same. This effect will also reduce congestion levels during the
      “shoulder” of the peak period, potentially allowing more travel to be
      induced at those times.
    </p>
    <p>
      Other behavioral effects may be more dependent on the specific context and
      geographic environment of any road expansion. These include shifts from
      alternative routes to what is now a faster route. For example, some
      travelers may have used a parallel arterial road that took about the same
      time as the congested freeway. If the freeway is now faster, travelers
      will shift to it and prior congestion levels will return. Expanded
      capacity that reduces travel costs can also lead to both longer trips and
      more trips.
    </p>
    <p>
      Areas with good public transit systems, especially those that access
      central areas, may see a shift from transit use to vehicle travel that
      diminishes the travel time reductions that any capacity expansion may
      initially provide. In most parts of the country, this effect is far less
      pronounced than in the past given the low ridership levels on many transit
      systems. The Downs-Thomson paradox (see
      <a href="https://www.jstor.org/stable/29775281"
        >Arnott &amp; Small, 1994</a
      >) described this effect in essence arguing that road capacity increases
      were self-defeating due to shifts from transit; expansions in road
      capacity shifted transit users to vehicles, leading to reduced transit
      service frequencies, which further shifted transit users to driving until
      the transit system could no longer justify providing service. Thus, in the
      end, congestion and traffic levels on the expanded road are higher than
      before the capacity addition.
    </p>
    <p>
      Induced travel is often described as having a short-run and long-run
      effect and corresponding short and long-run elasticities. There is no
      standard time-frame as to what is considered short run as most of the
      behavioral changes in travel patterns can occur quite quickly. Longer run
      effects are usually associated with changes in land use and development
      patterns.
    </p>
    <p>
      Again, we can turn to standard economic theory to understand these longer
      run impacts. Cities and regions have long been defined by how accessible
      activities are between central areas and more distant areas. As reductions
      in travel time increase, more distant land becomes more accessible and
      available for development. In the 19<sup>th</sup> century, the commuter
      railroads spurred development outside the city, but this was clustered
      within walking distance of the station. With the advent of motor vehicles
      this more distant development was highly dependent on cars. This was also
      due to reductions in travel costs and these development impacts may
      account for a substantial share of induced travel effects. Furthermore,
      while they are often defined as the “long term” impacts, developers
      anticipate the opening of new capacity and build long before that capacity
      is completed, thus the freeway may be full on opening day!
    </p>
    <p>
      Thus, the theoretical basis for induced travel is well established.
      However, critics of induced travel typically argue that roads are built
      and expanded based on forecasts of increased demand. That is, one should
      expect roads to fill up after capacity is increased. As discussed in
      empirical studies, it is established that capacity expansion will induce
      more travel. Critics often argue over the definition of induced travel and
      ignore the longer run consequences of how expanded roads affect
      development patterns. To a large extent, these arguments boil down to
      value judgements on preferred development patterns, whether areas should
      be built to be more compact and walkable or more sprawling and
      auto-dependent. The latter development pattern will have greater
      environmental and climate impacts than the former.
    </p>
  </Section>
  <Section>
    <h2>Empirical evidence</h2>
    <p>
      Previous studies have sought to estimate vehicle-travel elasticities
      associated with changes in lane miles. The majority of these studies use
      aggregate data on vehicle-miles of travel (VMT) and lane miles, for
      example, at the state, county or MSA level. Much of this work extended the
      seminal studies of
      <a href="https://escholarship.org/uc/item/6zz3k76c"
        >Hansen et al. (1993)</a
      >
      and
      <a href="https://doi.org/10.1016/S0965-8564(96)00019-5"
        >Hansen &amp; Huang (1997)</a
      >
      who analyzed data for California and all showed an association between
      lane-miles and VMT. Critics claimed that the results of these studies did
      not demonstrate a causal effect, that is, that growth in lane miles led to
      growth in travel.
    </p>
    <p>
      To address this issue, several studies tackled this problem statistically
      with varying degrees of success.
      <a href="https://doi.org/10.1016/S0965-8564(99)00047-6">Noland (2001)</a>
      estimated state-level elasticities using a lagged seemingly unrelated
      regression for multiple road types while
      <a href="https://doi.org/10.1023/A:1005288826997"
        >Noland &amp; Cowart (2000)</a
      >
      estimated MSA-level elasticities and attempted an instrumental variable
      model to control for causality.
      <a href="https://doi.org/10.21949/1506078">Fulton et al. (2000)</a>
      estimated a sequential model that demonstrated a causal impact of
      increasing lane miles using county-level data for three states.
      <a href="https://www.jstor.org/stable/20053915"
        >Cervero and Hansen (2002)</a
      >
      and
      <a href="https://www.jstor.org/stable/23045653"
        >Duranton and Turner (2011)</a
      >
      estimated models using instrumental variables.
      <a href="https://doi.org/10.1016/j.trb.2010.02.007"
        >Hymel, Small, and Van Dender (2010)</a
      >
      use state-level data and control for simultaneous effects, that is, how
      vehicle travel itself may affect the building of new capacity.
      <a href="https://doi.org/10.1016/j.tra.2011.11.009"
        >Rentziou, Gkritza &amp; Souleyrette (2012)</a
      >
      use a different modeling approach and find similar effects. Most studies
      find a much smaller elasticity estimate than
      <a href="https://www.jstor.org/stable/23045653"
        >Duranton and Turner (2011)</a
      >. The modeling in these studies control for causal effects and
      demonstrate a linkage between road expansion and increases in VMT. All
      have found statistically significant impacts, but the elasticities
      generated are quite different.
    </p>
    <p>
      <a href="https://doi.org/10.1080/01944360308976303">Cervero (2003)</a>
      also estimated a model using facility-specific data, in this case
      measuring road capacity for selected projects rather than aggregate
      changes in lane miles. Again, he found statistically significant results
      in this case using a structured equation model, also known as a “path”
      model.
      <a href="https://doi.org/10.1080/01944360308976303">Cervero (2003)</a>
      found that 40% of VMT growth can be attributed to capacity improvement
      (the remainder being due to other effects). This was substantially more
      than
      <a href="https://doi.org/10.1016/S0965-8564(99)00047-6"
        >Noland’s (2001)</a
      >
      estimate that attributed 28% to capacity improvements. Surprisingly,
      <a href="https://doi.org/10.1080/01944360308976303">Cervero (2003)</a>
      interpreted this as not being a large contributor to VMT growth, while
      Noland’s study was interpreted as showing capacity expansion was the major
      influence. If anything, this shows how modeling results can easily be
      misinterpreted and in all cases, these models controlled for other factors
      that affect VMT growth.
    </p>
    <p>
      At least three reviews of the induced travel literature have been done
      over the last 25 years.
      <a href="https://doi.org/10.1016/S1361-9209(01)00009-8"
        >Noland &amp; Lem (2002)</a
      >
      summarized existing work up through about 2002.
      <a href="https://doi.org/10.5822/978-1-59726-242-2_5"
        >Noland &amp; Hanson (2013)</a
      >
      also produced a review that included work conducted in the 2010’s
      including some simulation and modeling studies and the influential work of
      <a href="https://www.jstor.org/stable/23045653"
        >Duranton &amp; Turner (2011)</a
      >. These are summarized in the table below. More recently,
      <a href="https://escholarship.org/uc/item/1hh9b9mf"
        >Volker &amp; Handy (2022)</a
      >
      published a review as part of their development of the
      <a href="https://travelcalculator.ncst.ucdavis.edu/"
        >California Induced Travel Calculator</a
      >. These elasticities in the table below show a range of short-term and
      long-term elasticities and some variation between studies.
      <a href="https://www.jstor.org/stable/23045653"
        >Duranton &amp; Turner (2011)</a
      >
      produced the largest elasticity values. Most research suggests that larger
      and generally more congested roads (for example, interstate highways in
      urban areas) will have larger elasticity values. These results are used in
      the calculator as specified in the data section.
    </p>
    <table>
      <caption>
        Parameter estimates from induced-travel regression models (based on
        Noland &amp; Hanson (2013))
      </caption>
      <colgroup>
        <col style="width: 27%" />
        <col style="width: 11%" />
        <col style="width: 0%" />
        <col style="width: 8%" />
        <col style="width: 0%" />
        <col style="width: 7%" />
        <col style="width: 23%" />
        <col style="width: 10%" />
        <col style="width: 10%" />
      </colgroup>
      <thead>
        <tr class="header">
          <th>Reference</th>
          <th>Scale</th>
          <th colspan="4">Fixed Effects</th>
          <th>Causality</th>
          <th colspan="2">Elasticities</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td></td>
          <td></td>
          <td colspan="2">Area</td>
          <td colspan="2">Time</td>
          <td></td>
          <td>
            <p>Short</p>
            <p>Term</p>
          </td>
          <td>
            <p>Long</p>
            <p>Term</p>
          </td>
        </tr>
        <tr class="even">
          <td>
            <em>Models with aggregate data: all with lane mile elasticities</em>
          </td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://escholarship.org/uc/item/6zz3k76c"
              >Hansen et al. 1993</a
            >)
          </td>
          <td>Facility</td>
          <td colspan="2">X</td>
          <td colspan="2"></td>
          <td></td>
          <td>0.2 - 0.3</td>
          <td>0.3 - 0.4</td>
        </tr>
        <tr class="even">
          <td>
            (<a href="https://doi.org/10.1016/S0965-8564(96)00019-5"
              >Hansen, Huang 1997</a
            >)
          </td>
          <td>County</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Lag Model</td>
          <td>0.21</td>
          <td>0.6 - 0.7</td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://doi.org/10.1016/S0965-8564(96)00019-5"
              >Hansen, Huang 1997</a
            >)
          </td>
          <td>Metro</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Lag Model</td>
          <td>0.19</td>
          <td>0.9</td>
        </tr>
        <tr class="even">
          <td>
            (<a href="https://doi.org/10.21949/1506078">Fulton et al. 2000</a>)
          </td>
          <td>County</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Granger Test</td>
          <td>0.2 - 0.6</td>
          <td></td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://doi.org/10.1023/A:1005288826997"
              >Noland, Cowart 2000</a
            >)
          </td>
          <td>Metro</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>
            <p>Instrumental Variable</p>
            <p>Model</p>
          </td>
          <td>0.28</td>
          <td>0.90</td>
        </tr>
        <tr class="even">
          <td>
            (<a href="https://doi.org/10.1016/S0965-8564(99)00047-6"
              >Noland 2001</a
            >)
          </td>
          <td>States</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Distributed Lag and SURE Model</td>
          <td>0.2 - 0.5</td>
          <td>0.7 - 1.0</td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://www.jstor.org/stable/20053915"
              >Cervero, Hansen 2002</a
            >)
          </td>
          <td>County</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td>
            <p>Simultaneous</p>
            <p>Equations</p>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr class="even">
          <td><em>VMT dependent</em></td>
          <td>County</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Granger Test</td>
          <td>0.59</td>
          <td>0.79</td>
        </tr>
        <tr class="odd">
          <td><em>LM dependent</em></td>
          <td>County</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>Granger Test</td>
          <td>0.33</td>
          <td>0.66</td>
        </tr>
        <tr class="even">
          <td>
            (<a href="https://doi.org/10.1080/01944360308976303">Cervero 2003</a
            >)
          </td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="odd">
          <td><em>Direct</em></td>
          <td>Facility</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>4 element Path model</td>
          <td>0.24</td>
          <td>0.81</td>
        </tr>
        <tr class="even">
          <td><em>Indirect</em></td>
          <td>Facility</td>
          <td colspan="2">X</td>
          <td colspan="2">X</td>
          <td>4 element Path model</td>
          <td>0.10</td>
          <td>0.39</td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://www.jstor.org/stable/23045653"
              >Duranton, Turner 2011</a
            >)
          </td>
          <td colspan="2">States</td>
          <td colspan="3">Cross-sectional</td>
          <td>Instrumental Variable model</td>
          <td colspan="2">0.92-1.32</td>
        </tr>
        <tr class="even">
          <td>
            (<a href="https://doi.org/10.1016/j.trb.2010.02.007"
              >Hymel, Small &amp; Van Dender 2010</a
            >)
          </td>
          <td colspan="2">States</td>
          <td colspan="2">X</td>
          <td>X</td>
          <td>3-stage least squares</td>
          <td>0.037</td>
          <td>0.186</td>
        </tr>
        <tr class="odd">
          <td>
            (<a href="https://doi.org/10.1016/j.tra.2011.11.009"
              >Rentziou, Gkritza &amp; Souleyrette 2012</a
            >)
          </td>
          <td colspan="2">States</td>
          <td colspan="3">Random effects</td>
          <td>Error component model</td>
          <td>Urban, 0.256</td>
          <td>Rural, 0.068</td>
        </tr>
      </tbody>
    </table>
  </Section>
  <Section>
    <h2>Data</h2>
    <p>
      The calculator relies on data collected by the New Jersey Department of
      Transportation and publicly available at:
      <a href="https://www.nj.gov/transportation/refdata/roadway/vmt.shtm"
        >https://www.nj.gov/transportation/refdata/roadway/vmt.shtm</a
      >. We use the files listed under “VMT by Functional Classification
      Distributed by County” for each year in the calculator. These data are in
      pdf files and were transferred to an Excel file for further processing.
    </p>
    <p>
      The data provide estimates of road mileage and VMT by county for seven
      functional classifications of roads in urban areas and an additional seven
      for rural areas. We combined some of the road classifications to minimize
      those instances in which there were zero road miles (for example, many of
      the more urbanized counties had no roads classified as rural or had
      minimal miles of roads under that category). A shortcoming of New Jersey’s
      data is that we do not have lane mileage data, only road mileage
      (center-line miles). Based on a
      <a href="https://rutgers.app.box.com/file/1365361429302">pdf file</a>
      provided by NJDOT, we applied conversion factors to the road mile data and
      as shown in the table below. These represent average state-level
      one-directional lane mileage for each functional classification.
    </p>
    <p>
      Road classifications available in the data are listed in the table and
      those that were combined are shown. For urban roads we combined
      interstates with freeways/expressways as these both largely have identical
      road designs, including being largely controlled access highways. For
      urban roads we combined interstates with two additional road types
      encompassing freeways and principal arterials. For both urban and rural
      collector roads we combined major and minor collectors. In total we have
      five urban road categories and four rural road categories in the
      calculator. This was done for all
      <a href="https://njac.org/new-jersey-counties/"
        >21 counties in New Jersey</a
      >.
    </p>
    <p>
      Our first year of data is 2017 and we will update to the latest year
      available. Caution should be used when analyzing data and interpreting
      results for 2020 and 2021 due to changes in travel patterns due to the
      COVID pandemic.
    </p>
    <p>
      Elasticity assumptions in the calculator are shown in the table for each
      road classification. In general, the empirical evidence suggests that
      larger higher speed roads have a larger elasticity. We have included a
      range and the calculator output provides a range of estimates for induced
      VMT. Given the potential range of estimates and variation in how VMT may
      be affected, we have included a “back-calculator” which allows the
      estimation of an “implied elasticity” based on forecast growth in VMT
      associated with a capacity expansion.
    </p>
    <table>
      <colgroup>
        <col style="width: 26%" />
        <col style="width: 34%" />
        <col style="width: 17%" />
        <col style="width: 21%" />
      </colgroup>
      <thead>
        <tr class="header">
          <th colspan="2"><strong>Urban areas</strong></th>
          <th><strong>Factor to convert to lane miles</strong></th>
          <th><strong>Elasticity range</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Interstates</td>
          <td rowspan="2">Interstate/Freeways/Expressways</td>
          <td rowspan="2">3</td>
          <td rowspan="2">0.7 - 1.0</td>
        </tr>
        <tr class="even">
          <td>Freeways/Expressways</td>
        </tr>
        <tr class="odd">
          <td>Principal arterials</td>
          <td>Principal arterials</td>
          <td>2.5</td>
          <td>0.7 - 1.0</td>
        </tr>
        <tr class="even">
          <td>Minor arterials</td>
          <td>Minor arterials</td>
          <td>1</td>
          <td>0.5 - 0.7</td>
        </tr>
        <tr class="odd">
          <td>Major collectors</td>
          <td rowspan="2">Major and Minor collectors</td>
          <td rowspan="2">1</td>
          <td rowspan="2">0.5 - 0.7</td>
        </tr>
        <tr class="even">
          <td>Minor collectors</td>
        </tr>
        <tr class="odd">
          <td>Local</td>
          <td>Local</td>
          <td>1</td>
          <td>0.3 - 0.5</td>
        </tr>
        <tr class="even">
          <td colspan="2"><strong>Rural areas</strong></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="odd">
          <td>Interstates</td>
          <td rowspan="3">Interstate/Principal arterial/freeways</td>
          <td rowspan="3">3</td>
          <td rowspan="3">0.7 - 1.0</td>
        </tr>
        <tr class="even">
          <td>Principal arterials/freeways</td>
        </tr>
        <tr class="odd">
          <td>Principal arterial - other</td>
        </tr>
        <tr class="even">
          <td>Minor arterials</td>
          <td>Minor arterials</td>
          <td>1</td>
          <td>0.5 - 0.7</td>
        </tr>
        <tr class="odd">
          <td>Major collectors</td>
          <td rowspan="2">Major and Minor collectors</td>
          <td rowspan="2">1</td>
          <td rowspan="2">0.5 - 0.7</td>
        </tr>
        <tr class="even">
          <td>Minor collectors</td>
        </tr>
        <tr class="odd">
          <td>Local</td>
          <td>Local</td>
          <td>1</td>
          <td>0.3 - 0.5</td>
        </tr>
      </tbody>
    </table>
  </Section>
  <Section>
    <h2>Calculations</h2>
    <p>
      The elasticities shown above are used to determine how a change in lane
      miles will lead to a change in VMT. The formula for estimating the induced
      VMT is:
    </p>
    <p>
      Induced VMT = (New lane miles / existing lane miles) x existing VMT x
      Elasticity
    </p>
    <p>The user inputs “new lane miles” and the output is “induced VMT”.</p>
    <p>
      The back-calculation simply reverses this equation but requires the user
      to input both “new lane miles” and the “forecasted increase in VMT”. The
      output is an implicit elasticity, that is, the elasticity that is implied
      by the forecast increase in VMT.
    </p>
    <p>The formula is as follows:</p>
    <p>
      Implied elasticity = (Forecast increase in VMT x Existing lane miles) /
      (Existing VMT) x (New lane miles)
    </p>
    <h2>Interpretation of output</h2>
    <p>
      Empirical research on induced travel has shown that there is a positive
      effect, that is, when lane miles are increased, there is an increase in
      VMT. As most of these studies are based on aggregate data (e.g.
      state-level or county-level totals) one needs to consider how an
      individual project may affect VMT. Specifically, what is the local context
      and how might that lead to either smaller or larger actual increases in
      VMT? For example, what type of land use is proximate to the project
      location? What type of transit network exists? What alternate routes are
      available for drivers? The outputs provided give a range of estimates
      based on the best available information, however, the localized details of
      any specific project should be considered as well.
    </p>
    <p>
      The back-calculator provides a different way to think about the impacts of
      a project. Local transportation planners may have conducted various
      studies and come up with a forecast of what they think the growth in VMT,
      due to the project, will be. In some cases, they may assert that it will
      have no effect on inducing VMT. The back-calculator will allow users to
      estimate an “implied elasticity”, or in other words, the elasticity
      implied by the VMT forecast. The user can then assess whether this
      estimate is reasonable based on the empirical research and local knowledge
      of the project.
    </p>
  </Section>
  <Section>
    <h2>References</h2>
    <p>
      Arnott, R., &amp; Small, K. (1994). The economics of traffic congestion.
      <em>American scientist</em>, <em>82</em>(5), 446-455.
      <a href="https://www.jstor.org/stable/29775281"
        >https://www.jstor.org/stable/29775281</a
      >
    </p>
    <p>
      Cervero, R. (2003). Road expansion, urban growth, and induced travel: A
      path analysis. Journal of the American Planning Association, 69(2),
      145-163.
      <a href="https://doi.org/10.1080/01944360308976303"
        >https://doi.org/10.1080/01944360308976303</a
      >
    </p>
    <p>
      Cervero, R., &amp; Hansen, M. (2002). Induced travel demand and induced
      road investment: A simultaneous equation analysis. Journal of Transport
      Economics and Policy (JTEP), 36(3), 469-490.
      <a href="https://www.jstor.org/stable/20053915"
        >https://www.jstor.org/stable/20053915</a
      >
    </p>
    <p>
      Duranton, G., &amp; Turner, M. A. (2011). The fundamental law of road
      congestion: Evidence from US cities. American Economic Review, 101(6),
      2616-2652.
      <a href="https://www.jstor.org/stable/23045653"
        >https://www.jstor.org/stable/23045653</a
      >
    </p>
    <p>
      Hansen, M., Gillen, D., Dobbins, A., Huang, Y., &amp; Puvathingal, M.
      (1993). The air quality impacts of urban highway capacity expansion:
      Traffic generation and land use change.
      <a href="https://escholarship.org/uc/item/6zz3k76c"
        >https://escholarship.org/uc/item/6zz3k76c</a
      >
    </p>
    <p>
      Hansen, M., &amp; Huang, Y. (1997). Road supply and traffic in California
      urban areas. Transportation Research Part A: Policy and Practice, 31(3),
      205-218.
      <a href="https://doi.org/10.1016/S0965-8564(96)00019-5"
        >https://doi.org/10.1016/S0965-8564(96)00019-5</a
      >
    </p>
    <p>
      Hymel, K. M., Small, K. A., &amp; Van Dender, K. (2010). Induced demand
      and rebound effects in road transport. Transportation Research Part B:
      Methodological, 44(10), 1220-1241.
      <a href="https://doi.org/10.1016/j.trb.2010.02.007"
        >https://doi.org/10.1016/j.trb.2010.02.007</a
      >
    </p>
    <p>
      Noland, R. B., &amp; Cowart, W. A. (2000). Analysis of metropolitan
      highway capacity and the growth in vehicle miles of travel.
      <em>Transportation</em>, <em>27</em>, 363-390.
      <a href="https://doi.org/10.1023/A:1005288826997"
        >https://doi.org/10.1023/A:1005288826997</a
      >
    </p>
    <p>
      Fulton, L. M., Noland, R. B., Meszler, D. J., &amp; Thomas, J. V. (2000).
      A Statistical Analysis of Induced Travel Effects.
      <em>Journal of Transportation and statistics</em>, <em>3</em>(1), 1-14.
      <a href="https://doi.org/10.21949/1506078"
        >https://doi.org/10.21949/1506078</a
      >
    </p>
    <p>
      Noland, R. B. (2001). Relationships between highway capacity and induced
      vehicle travel.
      <em>Transportation Research Part A: Policy and Practice</em>,
      <em>35</em>(1), 47-72.
      <a href="https://doi.org/10.1016/S0965-8564(99)00047-6"
        >https://doi.org/10.1016/S0965-8564(99)00047-6</a
      >
    </p>
    <p>
      Noland, R. B., &amp; Lem, L. L. (2002). A review of the evidence for
      induced travel and changes in transportation and environmental policy in
      the US and the UK.
      <em>Transportation Research Part D: Transport and Environment</em>,
      <em>7</em>(1), 1-26.
      <a href="https://doi.org/10.1016/S1361-9209(01)00009-8"
        >https://doi.org/10.1016/S1361-9209(01)00009-8</a
      >
    </p>
    <p>
      Noland, R. B., &amp; Hanson, C. S. (2013). How does induced travel affect
      sustainable transportation policy?.
      <em>Transport Beyond Oil: Policy Choices for a Multimodal Future</em>,
      70-85.
      <a href="https://doi.org/10.5822/978-1-59726-242-2_5"
        >https://doi.org/10.5822/978-1-59726-242-2_5</a
      >
    </p>
    <p>
      Rentziou, A., Gkritza, K., &amp; Souleyrette, R. R. (2012). VMT, energy
      consumption, and GHG emissions forecasting for passenger transportation.
      Transportation Research Part A: Policy and Practice, 46(3), 487-500.
      <a href="https://doi.org/10.1016/j.tra.2011.11.009"
        >https://doi.org/10.1016/j.tra.2011.11.009</a
      >
    </p>
    <p>
      Volker, J., &amp; Handy, S. L. (n.d.). California Induced Travel
      Calculator, National Center for Sustainable Transportation.
      <a href="https://travelcalculator.ncst.ucdavis.edu/"
        >https://travelcalculator.ncst.ucdavis.edu/</a
      >
    </p>
    <p>
      Volker, J., &amp; Handy, S. L. (2022). Updating the Induced Travel
      Calculator.
      <a href="https://escholarship.org/uc/item/1hh9b9mf"
        >https://escholarship.org/uc/item/1hh9b9mf</a
      >
    </p>
  </Section>
</BaseLayout>
