---
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Acknowledgements">
  <Section>
    <h2>Acknowledgements</h2>
    <p>
      This calculator is based on the code for the <a
        href="https://travelcalculator.ncst.ucdavis.edu/"
        >California Induced Travel Calculator</a
      >, thanks to Jamey Volker and Susan Handy for providing the code. Wei San
      Loh assisted with the data, Benjamin Noland assisted with writing the HTML
      code. Robert Noland wrote the text for the calculator. The New Jersey
      Policy Lab at the Bloustein School provided support. While the New Jersey
      Office of the Secretary of Higher Education (OSHE) administers the
      partnership that funds the New Jersey State Policy Lab, these findings do
      not necessarily represent the policy or endorsement of OSHE or the state
      of New Jersey.
    </p>
    <p>Favicon image generated using Microsoft Copilot.</p>
    <p>
      Code for this calculator is available at <a
        target="_blank"
        href="https://github.com/rbnoland/travel-calculator"
        >rhttps://github.com/rbnoland/travel-calculator.</a></p>
     <p>Any comments or questions, please email rnoland@rutgers.edu.</p>   
         
     <p>Version: July 1, 2024</p> 
    
  </Section>
</BaseLayout>
