---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout pageTitle="Calculator">
  <Section>
    <h2>Overview</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nostrum
      consequatur nisi, natus itaque sapiente!
    </p>
  </Section>

  <Section>
    <h2>Overview</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nostrum
      consequatur nisi, natus itaque sapiente!
    </p>
  </Section>
</BaseLayout>
