---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import TravelCalculator from "../components/TravelCalculator.astro";
---
<BaseLayout pageTitle="Calculator">
  <Section>
    <h2>Instructions</h2>
    <p>
      To use the calculator, select the year, county, facility type and enter the total lanes miles of additional capacity. The output will produced the annual induced vehicle-miles of travel (VMT) for the county and facility type entered. The output will provide an estimated range of annual VMT estimates based on an estimated range of elasticity values.  The documentation in the “About” menu describes the data and the theoretical and empirical basis for the estimate. In interpreting the output, one must be aware of any location specific influences that would imply the estimate is either too large or too small.  These may include the existing level of congestion, local land use patterns, geographical constraints, and the amount of public transit available.
    </p>
  </Section>
  <Section>
    <h2>Calculator</h2>
    <TravelCalculator />
  </Section>
</BaseLayout>

