---
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Other Calculators">
    <Section>
      <h2>Other Induced Travel Calculators</h2>
      <p> We will be developing a series of calclators for other states.  These will be listed here as they are completed.</p>
      <p>
         <a href="https://mn-travel-calculator.vercel.app/">The Minnesota Induced Travel Calculator</a>  
      </p>
      
      <p>
        <a href="https://pa-travel-calculator.vercel.app/">The Pennsylvania Induced Travel Calculator</a>
     </p>
     <p></p>
     <p></p>
     <p>Other calculators produced elsewhere are listed here.</p>
     
     <p>
         <a href="https://travelcalculator.ncst.ucdavis.edu/">The California Induced Travel Calculator - National Center for Sustainable Transportation, UC Davis</a>
      </p>
      
      <p>
         <a href="https://rmi.org/colorado-induced-travel-calculator/">The Colorado Induced Travel Calculator - Rocky Mountain Institute</a>
      </p>
      <p>
        <a href="https://shift.rmi.org/">The SHIFT Calculator - State Highway Induced Frequency of Travel - Rocky Mountain Institute</a>
     </p>
    </Section>
  </BaseLayout>
  