---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<style>
  table {
    border: 1px solid black;
  }
  table caption {
    font-weight: bold;
    margin-bottom: 0.75em;
    caption-side: top;
    text-align: center;
  }
  img {
    display: block;
    width: 70%;
    max-width: 500px;
    margin: 1.5rem auto;
  }
</style>

<BaseLayout pageTitle="References">
  <Section>
    <Section>
      <h2>References</h2>
    
      
        <p>
          Arnott, R., &amp; Small, K. (1994). The economics of traffic
          congestion.
          <em>American scientist</em>, <em>82</em>(5), 446-455.
          <a target="_blank" href="https://www.jstor.org/stable/29775281"
            >https://www.jstor.org/stable/29775281</a
          >
        </p>
        <p>
          Cervero, R. (2003). Road expansion, urban growth, and induced travel:
          A path analysis. Journal of the American Planning Association, 69(2),
          145-163.
          <a target="_blank" href="https://doi.org/10.1080/01944360308976303"
            >https://doi.org/10.1080/01944360308976303</a
          >
        </p>
        <p>
          Cervero, R., &amp; Hansen, M. (2002). Induced travel demand and
          induced road investment: A simultaneous equation analysis. Journal of
          Transport Economics and Policy (JTEP), 36(3), 469-490.
          <a target="_blank" href="https://www.jstor.org/stable/20053915"
            >https://www.jstor.org/stable/20053915</a
          >
        </p>
        <p>
          Duranton, G., &amp; Turner, M. A. (2011). The fundamental law of road
          congestion: Evidence from US cities. American Economic Review, 101(6),
          2616-2652.
          <a target="_blank" href="https://www.jstor.org/stable/23045653"
            >https://www.jstor.org/stable/23045653</a
          >
        </p>
        <p>
          Graham, D. J., McCoy, E. J., & Stephens, D. A. (2014). Quantifying causal effects of road network capacity expansions on traffic volume and density via a mixed model propensity score estimator. Journal of the American Statistical Association, 109(508), 1440-1449. 
          <a target="_blank" href="https://doi.org/10.1080/01621459.2014.956871"
            >https://doi.org/10.1080/01621459.2014.956871</a
          >
        </p>
        <p>
          Hansen, M., Gillen, D., Dobbins, A., Huang, Y., &amp; Puvathingal, M.
          (1993). The air quality impacts of urban highway capacity expansion:
          Traffic generation and land use change.
          <a target="_blank" href="https://escholarship.org/uc/item/6zz3k76c"
            >https://escholarship.org/uc/item/6zz3k76c</a
          >
        </p>
        <p>
          Hansen, M., &amp; Huang, Y. (1997). Road supply and traffic in
          California urban areas. Transportation Research Part A: Policy and
          Practice, 31(3), 205-218.
          <a
            target="_blank"
            href="https://doi.org/10.1016/S0965-8564(96)00019-5"
            >https://doi.org/10.1016/S0965-8564(96)00019-5</a
          >
        </p>
        <p>
          Hymel, K. (2019). If you build it, they will drive: Measuring induced demand for vehicle travel in urban areas. Transport Policy, 76, 57-66. 
          <a target="_blank" href="https://doi.org/10.1016/j.tranpol.2018.12.006"
            >https://doi.org/10.1016/j.tranpol.2018.12.006</a
          >
        </p>
        <p>
          Hymel, K. M., Small, K. A., &amp; Van Dender, K. (2010). Induced
          demand and rebound effects in road transport. Transportation Research
          Part B: Methodological, 44(10), 1220-1241.
          <a target="_blank" href="https://doi.org/10.1016/j.trb.2010.02.007"
            >https://doi.org/10.1016/j.trb.2010.02.007</a
          >
        </p>
        <p>
          Noland, R. B., &amp; Cowart, W. A. (2000). Analysis of metropolitan
          highway capacity and the growth in vehicle miles of travel.
          <em>Transportation</em>, <em>27</em>, 363-390.
          <a target="_blank" href="https://doi.org/10.1023/A:1005288826997"
            >https://doi.org/10.1023/A:1005288826997</a
          >
        </p>
        <p>
          Fulton, L. M., Noland, R. B., Meszler, D. J., &amp; Thomas, J. V.
          (2000). A Statistical Analysis of Induced Travel Effects.
          <em>Journal of Transportation and statistics</em>, <em>3</em>(1),
          1-14.
          <a target="_blank" href="https://doi.org/10.21949/1506078"
            >https://doi.org/10.21949/1506078</a
          >
        </p>
        <p>
          New Jersey's Priority Climate Action Plan, March 2024.
          <a target="_blank" href="https://dep.nj.gov/wp-content/uploads/climatechange/nj_pcap_final-1.pdf"
            >https://dep.nj.gov/wp-content/uploads/climatechange/nj_pcap_final-1.pdf</a>
        </p>
        <p>
          Noland, R. B. (2001). Relationships between highway capacity and
          induced vehicle travel.
          <em>Transportation Research Part A: Policy and Practice</em>,
          <em>35</em>(1), 47-72.
          <a
            target="_blank"
            href="https://doi.org/10.1016/S0965-8564(99)00047-6"
            >https://doi.org/10.1016/S0965-8564(99)00047-6</a
          >
        </p>
        <p>
          Noland, R. B., &amp; Lem, L. L. (2002). A review of the evidence for
          induced travel and changes in transportation and environmental policy
          in the US and the UK.
          <em>Transportation Research Part D: Transport and Environment</em>,
          <em>7</em>(1), 1-26.
          <a
            target="_blank"
            href="https://doi.org/10.1016/S1361-9209(01)00009-8"
            >https://doi.org/10.1016/S1361-9209(01)00009-8</a
          >
        </p>
        <p>
          Noland, R. B., &amp; Hanson, C. S. (2013). How does induced travel
          affect sustainable transportation policy?.
          <em>Transport Beyond Oil: Policy Choices for a Multimodal Future</em>,
          70-85.
          <a target="_blank" href="https://doi.org/10.5822/978-1-59726-242-2_5"
            >https://doi.org/10.5822/978-1-59726-242-2_5</a
          >
        </p>
        <p>
          Rentziou, A., Gkritza, K., &amp; Souleyrette, R. R. (2012). VMT,
          energy consumption, and GHG emissions forecasting for passenger
          transportation. Transportation Research Part A: Policy and Practice,
          46(3), 487-500.
          <a target="_blank" href="https://doi.org/10.1016/j.tra.2011.11.009"
            >https://doi.org/10.1016/j.tra.2011.11.009</a
          >
        </p>
        <p>
          Volker, J., &amp; Handy, S. L. (n.d.). California Induced Travel
          Calculator, National Center for Sustainable Transportation.
          <a target="_blank" href="https://travelcalculator.ncst.ucdavis.edu/"
            >https://travelcalculator.ncst.ucdavis.edu/</a
          >
        </p>
        <p>
          Volker, J., &amp; Handy, S. L. (2022). Updating the Induced Travel
          Calculator.
          <a target="_blank" href="https://escholarship.org/uc/item/1hh9b9mf"
            >https://escholarship.org/uc/item/1hh9b9mf</a
          >
        </p>
      </Section>
    </Section>
  </Section>
</BaseLayout>
