<section class="bg-body-tertiary p-5 rounded">
  <h1>New Jersey Induced Travel Calculator</h1>
  <p class="lead mb-4">
    To get started with the calculators, click one of the buttons below.
  </p>
  <div class="d-flex flex-wrap gap-2">
    <a class="btn btn-lg btn-primary" href="/calculator/">Calculator &raquo;</a>
    <a class="btn btn-lg btn-primary" href="/back-calculator/">Back-Calculator &raquo;</a>
  </div>
</section>
