---
import Navigation from "./Navigation.astro";
---

<nav class="navbar navbar-expand-lg py-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://vtc.rutgers.edu/">
      <img src="/images/ejb-logo.png" width="320" alt="Rutgers Policy Lab Logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <Navigation />
    </div>
  </div>
</nav>
