
<form id="travel-calculator" novalidate>
  <div class="row mb-3">
    <label for="year" class="col-lg-4 col-form-label">Select year:</label>
    <div class="col-lg-8">
      <select id="year" class="form-select">
        <option value="">Select year</option>
      </select>
      <div class="invalid-feedback">Please select a year.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="county" class="col-lg-4 col-form-label">Select county:</label>
    <div class="col-lg-8">
      <select id="county" class="form-select">
        <option value="">Select county</option>
      </select>
      <div class="invalid-feedback">Please select a county.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="facility-type" class="col-lg-4 col-form-label">Select facility type:</label>
    <div class="col-lg-8">
      <select id="facility-type" class="form-select">
        <option value="">Select facility type</option>
      </select>
      <div class="invalid-feedback">Please select a facility type.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="lane-miles" class="col-lg-4 col-form-label">Input total lane miles added:</label>
    <div class="col-lg-8">
      <div class="input-group">
        <input id="lane-miles" type="text" class="form-control" />
        <span class="input-group-text">miles</span>
        <div class="invalid-feedback">Please provide a non-negative value for lane miles.</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button type="submit" class="btn btn-primary">Calculate Induced Travel</button>
  </div>
</form>

<div class="modal fade" id="results-modal" tabindex="-1" aria-labelledby="results-model-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="results-model-label">Results</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Minimum miles added:
          <span id="min-miles-added"></span>
        </p>
        <p>
          Maximum miles added:
          <span id="max-miles-added"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // See: https://stackoverflow.com/questions/68216663/bootstrap-5-popover-error-cannot-find-name-bootstrap
  declare var bootstrap: any;

  import Papa from "papaparse";

  const data = await loadData();

  const yearInput = document.getElementById("year") as HTMLInputElement;
  const facilityTypeInput = document.getElementById("facility-type") as HTMLInputElement;
  const countyInput = document.getElementById("county") as HTMLInputElement;
  const laneMilesInput = document.getElementById("lane-miles") as HTMLInputElement;
  const travelCalc = document.getElementById("travel-calculator") as HTMLFormElement;

  setupForm();

  travelCalc.addEventListener("submit", (event) => {
    event.preventDefault();

    if (!validateInputs()) return;
    
    calculateInducedTravel();
    showResultsModal();
  });

  interface DataEntry {
    county: string;
    year: number;
    facilityType: string;
    vmt: number;
    laneMiles: number;
    minElast: number;
    maxElast: number;
  }

  function loadData() {
    return new Promise<DataEntry[]>((resolve) => {
      Papa.parse("/data/data.csv", {
        download: true,
        header: true,
        dynamicTyping: true,
        complete: function (results) {
          resolve(results.data as DataEntry[]);
        },
      });
    });
  }

  function showResultsModal() {
    const modal = new bootstrap.Modal('#results-modal');
    modal.show();
  }

  function calculateInducedTravel() {
    const year = parseInt(yearInput.value);
    const facilityType = facilityTypeInput.value;
    const county = countyInput.value;
    const newLaneMiles = parseFloat(laneMilesInput.value);

    const resultRow = data.find((row) => (
      row.year === year &&
      row.facilityType === facilityType &&
      row.county === county
    ));

    // XXX: Show error modal.
    if (!resultRow) console.log("no data");

    const { vmt, laneMiles, minElast, maxElast } = resultRow!;

    const minMilesAdded = document.getElementById("min-miles-added")!;
    minMilesAdded.innerText = String(
      (newLaneMiles / laneMiles * vmt * minElast).toFixed());

    const maxMilesAdded = document.getElementById("max-miles-added")!;
    maxMilesAdded.innerText = String(
      (newLaneMiles / laneMiles * vmt * maxElast).toFixed());
  }

  const invalidClass = "is-invalid";

  function validateInputs() {
    markInputsAsValid();

    const invalidInputs = getInvalidInputs();
    for (const input of invalidInputs)
      input.classList.add(invalidClass);

    return invalidInputs.length === 0;
  }

  function getInvalidInputs() {
    const elements = [];

    if (!yearInput.value) elements.push(yearInput);
    if (!facilityTypeInput.value) elements.push(facilityTypeInput);
    if (!countyInput.value) elements.push(countyInput);

    const miles = parseFloat(laneMilesInput.value);
    if (isNaN(miles) || miles < 0) elements.push(laneMilesInput);

    return elements;
  }

  function markInputsAsValid() {
    yearInput.classList.remove(invalidClass);
    facilityTypeInput.classList.remove(invalidClass);
    countyInput.classList.remove(invalidClass);
    laneMilesInput.classList.remove(invalidClass);
  }

  function setupForm() {
    populateYearOptions();
    populateCountyOptions();
    populateFacilityTypeOptions();
  }

  function populateYearOptions() {
    const years = data.map((row) => row.year);

    const uniqueYears = [...new Set(years)];
    uniqueYears.sort();
    
    for (const year of uniqueYears) {
      const option = document.createElement("option");
      option.innerText = String(year);
      yearInput.appendChild(option);
    }
  }

  function populateCountyOptions() {
    const counties = data.map((row) => row.county);

    const uniqueCounties = [...new Set(counties)];
    uniqueCounties.sort();
    
    for (const county of uniqueCounties) {
      const option = document.createElement("option");
      option.innerText = String(county);
      countyInput.appendChild(option);
    }
  }

  function populateFacilityTypeOptions() {
    const types = data.map((row) => row.facilityType);

    const uniqueTypes = [...new Set(types)];
    uniqueTypes.sort();
    
    for (const type of uniqueTypes) {
      const option = document.createElement("option");
      option.innerText = String(type);
      facilityTypeInput.appendChild(option);
    }
  }
</script>
